div#main {
    width: 600px;
    height: 660px;
/*    background-color: red;*/
    border:1px solid black;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

div.menu2
{
    width:600px;margin:0 auto;/*Uncomment this line to make the menu center-aligned.*/
    text-align:center;
    border:1px solid black;
    font-size:0;
}

div.menu2 a
{
    display: inline-block;
    padding: 0 20px;
    text-decoration:none;
    font: bold 12px Arial;
    line-height: 32px;
}

div.menu2 a:hover, div.menu2 a.current
{
    background-position:0 -60px;
}

div.menu2 a.dummy
{
    width:2px;
    padding:0 0;
}