{% import 'pagination.html' as paginationtools %}
<ul class="unstyled">
{% for post in posts %}
        <li>
            <a href="{{ post.url() }}"><h4>{{ post.title }}</h4></a>
            <i class='icon-time'></i>&nbsp;<em>{{ post.date|date}}</em>
            &nbsp;&nbsp;&nbsp;&nbsp;<i class='icon-tags'></i>
            {% for tag in post.tags %}
            	{% if tag %}
            	  <a href="{{ url_for('tag',tag=tag)}}"><em>{{ tag }}</em></a>
            	{% endif %}
            {% endfor%}
        </li>
        {% else %}
        <li> No post.</li>
{% endfor %}
</ul>
{% if pagination %}
{{ paginationtools.render_pagination(pagination) }}
{% endif %}