{% macro render_pagination(pagination) %}
<div class="pagination">
  

<ul>
  {% if pagination.has_prev %}
    <li><a href="{{ url_for_other_page(pagination.page - 1)
      }}"> &laquo;</a></li>
  {% endif %}

  {% for page in pagination.iter_pages() %}
    {% if page %}
    <li class="page">
        <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
      </li>

    {% endif %}
  {% endfor %}

  {% if pagination.has_next %}
    <li><a href="{{ url_for_other_page(pagination.page + 1)
      }}">&raquo;</a></li>
  {% endif %}

    </ul>
    </div>
{% endmacro %}