{% extends "base.html" %}

{% block head %}
<title>Just a place.|{{ tag }}
</title>
{% endblock head %}

{% block content %}
    <h3>含有<span class="label label-inverse"><em>{{ tag }}</em></span>的文章</h3>
    {% with posts=posts  %}
        {% include "_list.html" %}
    {% endwith %}
{% endblock content %}
{% block tab%}
 <script type="text/javascript">
$(document).ready(function() {
  //alert("ha");
  $('ul.mytab li').removeClass();
    $('ul.mytab li:eq(1)').addClass('active');
});
 </script>
{% endblock %}