{% extends "base.html" %}
  {% block head %}
  <title>Just a place.|标签</title>
  {% endblock head %}
{% block content %}
    <h2>List of Tags </h2>
    {% for tag,cnt in tags %}
     <a href="{{ url_for("tag", tag=tag) }}"><span class="label label-success">{{ tag }}</span><span class="badge"><em>{{cnt}}</em></span></a>
    {% endfor %}

{% endblock content %}
{% block tab%}
 <script type="text/javascript">
$(document).ready(function() {

  $('ul.mytab li').removeClass();
  $('ul.mytab li:eq(1)').addClass('active');
});
 </script>
{% endblock %}